x-common-env: &common-env
  TZ: ${TZ}
x-hotio-env: &hotio-env
  <<: *common-env
  PUID: ${PUID}
  PGID: ${PGID}
  UMASK: ${UMASK}
x-hotio-env-vpn: &hotio-env-vpn
  <<: *hotio-env
  VPN_ENABLED: true
  VPN_CONF: wg0
  VPN_PROVIDER: pia
  VPN_LAN_NETWORK: 192.168.1.0/24,10.0.0.0/24
  VPN_LAN_LEAK_ENABLED: false
  VPN_EXPOSE_PORTS_ON_LAN: 8080/tcp,8080/udp,9696/tcp,7878/tcp,6868/tcp
  VPN_AUTO_PORT_FORWARD: true
  VPN_AUTO_PORT_FORWARD_TO_PORTS:
  VPN_FIREWALL_TYPE: auto
  VPN_HEALTHCHECK_ENABLED: false
  VPN_NAMESERVERS:
  VPN_PIA_USER: ${PIA_USERNAME}
  VPN_PIA_PASS: ${PIA_PASSWORD}
  VPN_PIA_PREFERRED_REGION: ${PIA_REGION}
  VPN_PIA_DIP_TOKEN: no
  VPN_PIA_PORT_FORWARD_PERSIST: true
  PRIVOXY_ENABLED: false
  UNBOUND_ENABLED: false
  UNBOUND_NAMESERVERS:

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - 80:3000
    volumes:
      - ${CONFIG_PATH}/homepage:/app/config
    environment:
      <<: *common-env
      HOMEPAGE_ALLOWED_HOSTS: "*"

  jellyfin:
    container_name: jellyfin
    image: ghcr.io/hotio/jellyfin
    ports:
      - 8096:8096
    environment:
      <<: *common-env
    volumes:
      - ${CONFIG_PATH}/jellyfin:/config
      - ${MEDIA_PATH}:/data

  qbittorrent:
    image: ghcr.io/hotio/qbittorrent
    container_name: qbittorrent
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 8080:8080 # qbittorrent
      - 9696:9696 # prowlarr
      - 7878:7878 # radarr
      - 6868:6868 # profilarr
    volumes:
      - ${CONFIG_PATH}/qbittorrent:/config
      - ${TORRENT_PATH}:/data
    # Refer to README on why entrypoint: exists
    entrypoint: >
      sh -c "
        chown -R ${PUID}:${PGID} /config &&
        exec /init
      "
    environment:
      <<: *hotio-env-vpn
      LIBTORRENT: v1
    labels:
      - homepage.group=Downloaders
      - homepage.name=qBittorrent
      - homepage.icon=sh-qbittorrent
      - homepage.href=http://localhost:8080
      - homepage.description="Torrent downloader."

  profilarr:
    image: santiagosayshey/profilarr:latest
    container_name: profilarr
    network_mode: service:qbittorrent
    # ports:
    #   - 6868:6868 # Move to vpn container
    volumes:
      - ${CONFIG_PATH}/arr/profilarr:/config
    environment:
      <<: *common-env
    restart: unless-stopped
    labels:
      - homepage.group=Arr
      - homepage.name=Profilarr
      - homepage.icon=sh-profilarr
      - homepage.href=http://localhost:6868
      - homepage.description="Quality profile sync for Radarr and Sonarr.""

  prowlarr:
    image: ghcr.io/hotio/prowlarr
    container_name: prowlarr
    network_mode: service:qbittorrent
    # ports:
    #   - 9696:9696 # Move to vpn container
    environment:
      <<: *hotio-env
    volumes:
      - ${CONFIG_PATH}/arr/prowlarr:/config
    labels:
      - homepage.group=Arr
      - homepage.name=Prowlarr
      - homepage.icon=sh-prowlarr
      - homepage.href=http://localhost:9696
      - homepage.description="Torrent indexer for *arr apps."

  radarr:
    image: ghcr.io/hotio/radarr
    container_name: radarr
    network_mode: service:qbittorrent
    # ports:
    #   - 7878:7878 # Move to vpn container
    environment:
      <<: *hotio-env
    volumes:
      - ${CONFIG_PATH}/arr/radarr:/config
      - ${TORRENT_PATH}/media/:/data
    labels:
      - homepage.group=Arr
      - homepage.name=Radarr
      - homepage.icon=sh-radarr
      - homepage.href=http://localhost:7878
      - homepage.description="Movie downloader."
