x-common-env: &common-env
  TZ: ${TZ}
x-hotio-env: &hotio-env
  <<: *common-env
  PUID: ${PUID}
  PGID: ${PGID}
  UMASK: ${UMASK}
  HOST_ADDRESS: ${HOST_ADDRESS}
x-hotio-env-vpn: &hotio-env-vpn
  <<: *hotio-env
  VPN_ENABLED: true
  VPN_CONF: wg0
  VPN_PROVIDER: pia
  VPN_LAN_NETWORK: 192.168.1.0/24,10.0.0.0/24
  VPN_LAN_LEAK_ENABLED: false
  VPN_EXPOSE_PORTS_ON_LAN: 8080/tcp,8080/udp,9696/tcp,7878/tcp,6868/tcp,8989/tcp,6767/tcp,6767/udp
  VPN_AUTO_PORT_FORWARD: true
  VPN_AUTO_PORT_FORWARD_TO_PORTS:
  VPN_FIREWALL_TYPE: auto
  VPN_HEALTHCHECK_ENABLED: false
  VPN_NAMESERVERS:
  VPN_PIA_USER: ${PIA_USERNAME}
  VPN_PIA_PASS: ${PIA_PASSWORD}
  VPN_PIA_PREFERRED_REGION: ${PIA_REGION}
  VPN_PIA_DIP_TOKEN: no
  VPN_PIA_PORT_FORWARD_PERSIST: true
  PRIVOXY_ENABLED: false
  UNBOUND_ENABLED: false
  UNBOUND_NAMESERVERS:

services:
  dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy
    environment:
      - CONTAINERS=1
      - SERVICES=0
      - TASKS=0
      - POST=0
    ports:
      - 127.0.0.1:2375:2375
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    depends_on:
     - dockerproxy
    ports:
      - 80:3000
    volumes:
      - ${CONFIG_PATH}/homepage:/app/config
    environment:
      <<: *common-env
      HOMEPAGE_ALLOWED_HOSTS: "*"

  portainer:
    image: portainer/portainer-ce:lts
    container_name: portainer
    restart: always
    ports:
      - 9443:9443
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${CONFIG_PATH}/portainer:/data
    labels:
      - homepage.group=Tools
      - homepage.name=Docker Manager
      - homepage.icon=sh-portainer
      - homepage.href=http://${HOST_ADDRESS}:9000
      - homepage.siteMonitor=http://${HOST_ADDRESS}:9000

  copyparty:
    image: copyparty/ac:latest
    container_name: copyparty
    user: "${PUID}:${PGID}"
    ports:
      - 3923:3923
    volumes:
      - ${CONFIG_PATH}/copyparty:/cfg:z
      - /mnt:/w:z
    environment:
      <<: *hotio-env
      LD_PRELOAD: /usr/lib/libmimalloc-secure.so.2
      # enable mimalloc by replacing "NOPE" with "2" for a nice speed-boost (will use twice as much ram)
      PYTHONUNBUFFERED: 1
      # ensures log-messages are not delayed (but can reduce speed a tiny bit)
    stop_grace_period: 15s  # thumbnailer is allowed to continue finishing up for 10s after the shutdown signal
    healthcheck:
      # hide it from logs with "/._" so it matches the default --lf-url filter 
      test: ["CMD-SHELL", "wget --spider -q 127.0.0.1:3923/?reset=/._"]
      interval: 1m
      timeout: 2s
      retries: 5
      start_period: 15s

  jellyfin:
    container_name: jellyfin
    image: ghcr.io/hotio/jellyfin
    ports:
      - 8096:8096
    environment:
      <<: *common-env
    volumes:
      - ${CONFIG_PATH}/jellyfin:/config
      - ${ARR_PATH}/media:/data/media
    labels:
      - homepage.group=Media
      - homepage.name=Media Library
      - homepage.icon=sh-jellyfin
      - homepage.href=http://${HOST_ADDRESS}:8096
      - homepage.siteMonitor=http://${HOST_ADDRESS}:8096

  # jellyseerr:
  #   container_name: jellyseerr
  #   image: ghcr.io/hotio/jellyseerr
  #   depends_on:
  #    - jellyfin
  #   ports:
  #     - 5055:5055
  #   environment:
  #     <<: *common-env
  #   volumes:
  #     - ${CONFIG_PATH}/jellyseerr:/config
  #   labels:
  #     - homepage.group=Media
  #     - homepage.name=Explore New Media
  #     - homepage.icon=sh-jellyseerr
  #     - homepage.href=http://${HOST_ADDRESS}:5055
  #     - homepage.siteMonitor=http://${HOST_ADDRESS}:5055

  orcaslicer:
    image: lscr.io/linuxserver/orcaslicer:latest
    container_name: orcaslicer
    environment:
      <<: *common-env
    volumes:
      - ${CONFIG_PATH}/orcaslicer:/config
    security_opt:
      - seccomp:unconfined # https://github.com/linuxserver/docker-orcaslicer?tab=readme-ov-file#strict-reverse-proxies
    ports:
      - 90:3000 # HTTP
      - 91:3001 # HTTPS
    shm_size: "1gb" #optional
    restart: unless-stopped

# ==================================================================
# Containers to go through VPN
# ==================================================================
  qbittorrent:
    image: ghcr.io/hotio/qbittorrent
    container_name: qbittorrent
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 8080:8080 # qbittorrent
      - 9696:9696 # prowlarr
      - 6868:6868 # profilarr
      - 7878:7878 # radarr
      - 8989:8989 # sonarr
      - 6767:6767 # bazarr
    volumes:
      - ${CONFIG_PATH}/qbittorrent:/config
      - ${ARR_PATH}:/data
    # Refer to README on why entrypoint: exists
    entrypoint: >
      sh -c "
        chown -R ${PUID}:${PGID} /config &&
        chown -R ${PUID}:${PGID} /data &&
        exec /init
      "
    environment:
      <<: *hotio-env-vpn
      LIBTORRENT: v1
    labels:
      - homepage.group=Downloaders
      - homepage.name=Torrents
      - homepage.icon=sh-qbittorrent
      - homepage.href=http://${HOST_ADDRESS}:8080
      - homepage.siteMonitor=http://${HOST_ADDRESS}:8080

  profilarr:
    image: santiagosayshey/profilarr:latest
    container_name: profilarr
    network_mode: service:qbittorrent
    depends_on:
     - qbittorrent
    # ports:
    #   - 6868:6868 # Move to vpn container
    volumes:
      - ${CONFIG_PATH}/arr/profilarr:/config
    environment:
      <<: *common-env
    restart: unless-stopped
    labels:
      - homepage.group=Tools
      - homepage.name=Quality Profile Manager
      - homepage.icon=sh-profilarr
      - homepage.href=http://${HOST_ADDRESS}:6868
      - homepage.siteMonitor=http://${HOST_ADDRESS}:6868

  prowlarr:
    image: ghcr.io/hotio/prowlarr
    container_name: prowlarr
    network_mode: service:qbittorrent
    depends_on:
     - qbittorrent
    # ports:
    #   - 9696:9696 # Move to vpn container
    environment:
      <<: *hotio-env
    volumes:
      - ${CONFIG_PATH}/arr/prowlarr:/config
    labels:
      - homepage.group=Downloaders
      - homepage.name=Indexer
      - homepage.icon=sh-prowlarr
      - homepage.href=http://${HOST_ADDRESS}:9696
      - homepage.siteMonitor=http://${HOST_ADDRESS}:9696

  radarr:
    image: ghcr.io/hotio/radarr
    container_name: radarr
    network_mode: service:qbittorrent
    depends_on:
     - qbittorrent
    # ports:
    #   - 7878:7878 # Move to vpn container
    environment:
      <<: *hotio-env
    volumes:
      - ${CONFIG_PATH}/arr/radarr:/config
      - ${ARR_PATH}/media/movies:/data/media/movies
      - ${ARR_PATH}/downloads/radarr:/data/downloads/radarr
    # Refer to README on why entrypoint: exists
    entrypoint: >
      sh -c "
        chown -R ${PUID}:${PGID} /config &&
        chown -R ${PUID}:${PGID} /data &&
        exec /init
      "
    labels:
      - homepage.group=Downloaders
      - homepage.name=Movies
      - homepage.icon=sh-radarr
      - homepage.href=http://${HOST_ADDRESS}:7878
      - homepage.siteMonitor=http://${HOST_ADDRESS}:7878

  sonarr:
    image: ghcr.io/hotio/sonarr
    container_name: sonarr
    network_mode: service:qbittorrent
    depends_on:
     - qbittorrent
    # ports:
    #   - 8989:8989 # Added in vpn container
    environment:
      <<: *common-env
    volumes:
      - ${CONFIG_PATH}/arr/sonarr:/config
      - ${ARR_PATH}/media/shows:/data/media/shows
      - ${ARR_PATH}/downloads/tv-sonarr:/data/downloads/tv-sonarr
    labels:
      - homepage.group=Downloaders
      - homepage.name=TV Shows
      - homepage.icon=sh-sonarr
      - homepage.href=http://${HOST_ADDRESS}:8989
      - homepage.siteMonitor=http://${HOST_ADDRESS}:8989

  bazarr:
    image: ghcr.io/hotio/bazarr
    container_name: bazarr
    network_mode: service:qbittorrent
    depends_on:
     - qbittorrent
    # ports:
    #   - 6767:6767 # Added in VPN container
    environment:
      <<: *common-env
      # - WEBUI_PORTS=6767/tcp,6767/udp
    volumes:
      - ${CONFIG_PATH}/arr/bazarr:/config
      - ${ARR_PATH}/media:/data/media
    labels:
      - homepage.group=Downloaders
      - homepage.name=Subtitles
      - homepage.icon=sh-bazarr
      - homepage.href=http://${HOST_ADDRESS}:6767
      - homepage.siteMonitor=http://${HOST_ADDRESS}:6767
